<div class="main">
  <div class="inner">
    <div class="post__wrapper">
      <h2 class="page-heading">新規投稿</h2>
        <%= render partial: 'post', locals: {article: @article} %>
        <%# 部分テンプレートでフォームを表示する %>
    </div>
  </div>
</div>