<% if user_signed_in? && article.liked_by?(current_user)%>
  <%=link_to article_likes_path(article.id), method: :delete, class: "article_likes btn btn-outline-danger", remote: true do %>
    <i class="bi bi-heart-fill"></i>
  <% end %>
<% else %>
  <%=link_to article_likes_path(article.id), method: :post , class: "article_likes btn btn-outline-danger", remote: true do %>
    <i class="bi bi-heart"></i>
  <% end %>
<% end %>
<p>いいね <%=article.likes.size %></p>