.header {
  border-bottom: 1px solid #ccc; // ヘッダーとボディの間に1pxの線を追加
}

.navbar-brand {
  font-family: 'Caveat', cursive;
}

.nav-link {
  font-family: 'Caveat', cursive;
}

.dropdown-item {
  font-family: 'Caveat', cursive;
  font-family: 'Shippori Mincho B1', serif;
}